/*----------------------------------experts-------------------------------*/
.experts {}
.experts__title {
	width: 66.76%;
	margin: auto;
	margin-bottom: 50px;
}
.experts__text {
	width: 68.84%;
	margin: auto;
	margin-bottom: 40px;
}
.experts__cards {
	position: relative;
	height: 230px;
	max-width: 1075px;
	display: flex;
	align-items: center;
	margin: auto;
}
.experts__card {
	overflow: hidden;
	flex-shrink: 0;
	position: absolute;
	top: 0;
	width: 230px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	box-sizing: border-box;
	border: 6px solid var(--bg-color);
}
.experts__card:nth-child(1) { left: 0; }
.experts__card:nth-child(2) { left: 19.5%; }
.experts__card:nth-child(3) { left: 39%; }
.experts__card:nth-child(4) { left: 58.5%; }
.experts__card:nth-child(5) {
	left: 78%;
	background: var(--main-color);
	box-sizing: border-box;
	padding: 0 26px;
}
.experts__card-text {
	font-weight: 800;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--bg-color);
}