/*----------------------------------pay-------------------------------*/
.pay-card {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}
.pay-card__header {
	display: grid;
	grid-template-columns: 3fr 5fr;
	grid-column-gap: 30px;
}
.pay-card__user-img {
	max-width: 130px;
	height: auto;
	border-radius: 8px;
}
.pay-card__user-details {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}
.pay-card__details {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.pay-card__row {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 15px;
}
.pay-card__h-line {
	background: #F0F0F3;
}
.pay-card__button {
	width: 100%;
}
.pay-img {
	max-width: 140px;
}
.pay__badge {
	width: 108px;
	height: 55px;
	font-size: 20px;
	padding: 0;
}
.pay__badge-input {
	height: 55px;
}