/*----------------------------------psychologists-------------------------------*/
.psychologists {
	padding-top: 50px;
	padding-bottom: 100px;
}
.psycho__top {
	margin-bottom: 50px;
}
.psycho__note {
	margin-bottom: 8px;
}
.psycho__title {
	margin-bottom: 20px;
}
.psycho__cards {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	margin-bottom: 60px;
}
.psycho__cards.loading {
	opacity: 0.5;
	pointer-events: none;
}
.show-more__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 24px;
}
.psycho__button {
	padding: 19px 80px;
}
.psycho__cur-count {}
.psycho__glob-count {}