/*----------------------------------card-------------------------------*/
.withdraw__text-block {}
.withdraw__card {
	padding-bottom: 0;
}
.withdraw__grid {
	display: grid;
	grid-template-columns: 50px 3fr 2fr 80px;
	grid-column-gap: 50px;
	padding: 25px 0;
	align-items: center;
}
.withdraw__table-title {
	font-size: 20px;
	font-weight: 600;
}
.withdraw__rows {}
.withdraw__date {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.withdraw-date__day {
	font-size: 32px;
	font-weight: 700;
}
.withdraw-date__month {
	font-weight: 600;
	text-transform: uppercase;
}
.withdraw__desc {
	display: flex;
	flex-direction: column;
	row-gap: 6px;
}
.withdraw__status {
	width: 24px;
	height: 24px;
	margin: auto;
}