@media only screen and (max-width: 1400px){
	.footer {
		padding: 60px 0;
	}
	.footer__content {
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 60px;
	}
	.footer__top {
		margin-bottom: 60px;
	}
	.footer__bot {
		grid-row-gap: 20px;
	}
}



@media only screen and (max-width: 600px){
	.footer {
		padding: 50px 0;
		padding-bottom: 30px;
	}
	.footer__content {
		grid-template-columns: 1fr;
		grid-row-gap: 40px;
	}
	.footer__top {
		margin-bottom: 40px;
	}
	.footer__left {
		max-width: max-content;
		flex-direction: row;
		column-gap: 10vw;
	}
	.footer__title {
		margin-bottom: 15px;
	}
	.footer__bot {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		row-gap: 20px;
	}
}