@media only screen and (max-width: 1200px){
	/*----------------------------------mainscreen-------------------------------*/
	.mainscreen {
		padding-top: 67px;
		padding-bottom: 60px;
	}
	.mainscreen__content {
		row-gap: 400px;
	}
	.mainscreen__title {
		font-size: 40px;
		width: 40%;
	}
	.mainscreen__bot {
		align-self: flex-end;
		width: 48%;
	}
	.mainscreen__text {
		margin-bottom: 30px;
	}
	.mainscreen__bg {
		top: -30px;
	}
	.mainscreen__img-2 {
		top: 293px;
		left: 0;
	}

	/*----------------------------------connect-------------------------------*/
	.connect__content {
		column-gap: 40px;
	}

	/*----------------------------------work-------------------------------*/
	.work__content {
		grid-template-columns: 430px 1fr;
	}
	.work__button {
		top: 20px;
		right: 20px;
	}

	/*----------------------------------advantages-------------------------------*/
	.advantages__title {
		margin-bottom: 40px;
	}
	.advantages__top {
		margin-bottom: 100px;
	}
	.advantages-top__left {
		order: 2;
		align-self: center;
	}
	.advatages-item__text-block {
		padding-left: 70px;
	}
	.advantages__bot {
		grid-template-columns: 1fr;
	}
	.advantages-bot__content {
		grid-template-columns: 1fr 1fr;
	}
	.advantages__imgs-block {
		grid-column-gap: 40px;
	}
}



@media only screen and (max-width: 1000px){
	/*----------------------------------mainscreen-------------------------------*/
	.mainscreen__title {
		width: 50%;
	}
	.mainscreen__bot {
		align-self: self-start;
		width: 440px;
	}
	.mainscreen__img-2 {
		left: 0;
		top: auto;
		bottom: 130px;
		width: 47.7%;
	}

	/*----------------------------------connect-------------------------------*/
	.connect__content {
		flex-direction: column;
		row-gap: 50px;
	}
	.connect__title {
		margin-bottom: 30px;
	}
	.connect__img {
		width: 100%;
		height: 506px;
		margin-bottom: 50px;
	}

	/*----------------------------------work-------------------------------*/
	.work__content {
		grid-template-columns: 1fr;
	}
	.work__img-block {
		grid-row-start: none;
		margin-bottom: 30px;
	}
	.work__button {
		top: auto;
		bottom: 0;
		right: 90px;
	}
	.work__list {
		max-width: 650px;
		margin-left: auto;
	}

	/*----------------------------------advantages-------------------------------*/
	.advantages__section {
		grid-template-columns: 1fr;
	}
	.advantages__item {
		max-width: max-content;
		padding: 0;
	}
	.advantages-item__top {
		column-gap: 15px;
	}
	.advatages-item__text-block {
		row-gap: 30px;
		padding: 0;
	}
	.advantages__button {
		margin: auto;
	}

	/*----------------------------------join-------------------------------*/
	.join {
		padding: 0;
	}
	.join__content {
		position: static;
	}
}



@media only screen and (max-width: 600px){
	/*----------------------------------mainscreen-------------------------------*/
	.mainscreen {
		position: relative;
		padding-top: 20px;
		padding-bottom: 30px;
	}
	.mainscreen__wrapper {
		position: static;
	}
	.mainscreen__content {
		row-gap: 480px;
	}
	.mainscreen__title {
		width: 100%;
	}
	.mainscreen__bot {
		width: auto;
	}
	.mainscreen__bg {
		top: 0;
	}
	.mainscreen__img-1 {
		left: 50%;
		min-width: 100%;
		right: auto;
		transform: translateX(-50%);
	}
	.mainscreen__img-2 {
		display: none;
	}

	/*----------------------------------connect-------------------------------*/
	.connect__img {
		height: auto;
		margin-bottom: 20px;
	}

	/*----------------------------------work-------------------------------*/
	.work__img-block {
		height: auto;
		margin-bottom: 0;
	}
	.work__button {
		right: 0;
	}

	/*----------------------------------advantages-------------------------------*/
	.advantages__title {
		margin-bottom: 30px;
	}
	.advantages__section {
		grid-template-columns: 1fr;
		grid-row-gap: 30px;
	}
	.advantages__top {
		margin-bottom: 70px;
	}
	.advatages-item__text-block {
		align-items: normal;
	}
	.advantages__button {
		margin: 0;
	}
	.advantages__imgs-block {
		grid-column-gap: 10px;
	}
	.advantages__imgs-column {
		grid-row-gap: 10px;
	}
	.advantages-bot__content {
		grid-template-columns: 1fr;
		grid-row-gap: 30px;
	}

	/*----------------------------------reviews-------------------------------*/
	.review__card {
		padding: 20px;
	}

	/*----------------------------------join-------------------------------*/
	.join__content {
		text-align: left;
		padding: 50px 0;
	}
	.join__text {
		margin: 0;
		margin-bottom: 30px;
	}
	.join__button {
		width: 100%;
	}
}